/* ==============================================
   MEDIA QUERIES 
============================================== */

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	 html {
		-webkit-text-size-adjust: none;/* Prevent font scaling in landscape */
	 }


}


@media only screen and (max-width: 1200px) {


	.regionmap .co {
		top: 50px;
	}


}

@media only screen and (max-width: 1060px) {
	
	.quoteshow {
		display: none;
	}



}


@media only screen and (max-width: 1000px) {
	
	#home .three-amigos {
		margin-top: -120px;
	}
	#home .explore {
		top: 100px;
	}
	#country .explore {
		top: 168px;
	}


}


/* Smaller than standard 980 (devices and browsers) */
@media only screen and (max-width: 979px) {

	.grid-4-dotted {
		background: none;
	}


	/* CONTACT */
	.form2 {
		width: 100%;
	}
	#contact-short .form2 .col1 {
		width: 35%;
		padding: 20px;
	}
	#contact-short .form2 .col2 {
		width: 65%;
		padding: 20px 30px;
	}


	

	/* COUNTRY */
	.side-testi .col1 {
		float: none;
		width: 100%;
	}
	.side-testi .img {
		float: none;
		width: 100%;
		text-align: left;
	}
	.side-testi img {
		display: none;
	}
	.side-testi .info {
		border-right: none;
		border-left: 1px solid #e5e5e5; 
		padding: 0 0 0 8px; 
		margin-left: 0;
	}

	.pref-props .col1, .pref-props .col2 {
		float: none;
		width: 100%;
		border: none;
	}
	.pref-props .col1 p {
		text-align: left;
	}
	.side-testi .info {
		width: 100%;
	}


	/* PROPERTIES */
	#pref-prop .box h2 {
		font-size: 1.5em;
	}
	.content2 {
		margin: 0 0 1em;
	}

	/* JOURNEYS */
	#journey .box2 h3 span {
		display: none;
	}

	/* HOME */
	#home .interests2 li {
		width: 33.3333333333%;
	}
	#home .interests2 li:nth-of-type(9) {
		border-bottom: 1px dotted #bcbcbc; 
	}
	.meet-us .thumb {
		width: 18%;
		width: calc(90 / 500 * 100% );
	}

	.three-col .text {
		min-height: 10rem;
	}



}


/* Tablet Portrait size to standard 980 (devices and browsers) */
 @media only screen and (min-width: 768px) and (max-width: 979px) {
	
}


@media only screen and (max-width: 767px) {

	#header {
		padding: 0;
		height: auto;
	}
	#header .logo {
		padding: 15px 0;
		background: transparent url("images/logo-sm.png") center 15px no-repeat;
	}
	#header .logo a {
		height: 91px;
		width: 100%;
	}
	#header .row {
		padding: 0;
	}
	#header .the-nav {
		position: static;
	}
	#header .col {
		height: auto;
		overflow: hidden;
	}
	.mobile-nav {
		position: static;
		text-align: center;
		background-color: #fff;
		padding: 8px 0;
		display: block;
	}
	#nav, .util {
		position: static;
		display: none;
		float: none;
		width: 100%;
		padding: 0;
		border: none; 
		background-color: #fff;
	}
	#nav li a {
		border-top: 1px dotted #7d7d7d; 
		padding: 6px 20px;
		display: block;
		font-size: 0.8em;
	}
	.util {
		background: #363636 url("images/irongrip.png") 0 0 repeat;
	}
	.util p {
		text-align: left;
		padding: 6px 20px;
	}
	#searchform {
		margin: 11px 20px 6px;
	}
	#searchform input#s {
		background-color: #666;
		border-color: #7d7d7d;
		color: #fff;
	}
	input#searchsubmit {
		border-color: #7d7d7d;
	}
	#footer.typ18 {
		font-size: 1.2em;
		line-height: 2em;
	}
	#footer p, #foot-nav, #foot-nav ul, #foot-nav li {
		display: block;
	}
	#footer span {
		display: none;
	}
	#footer span.db {
		display: block;
	}
	#footer .toprow, #footer .botrow {
		border: none;
		padding: 0;
	}
	#foot-nav {
		border-top: 1px dotted #7d7d7d; 
		padding: 8px;
	}
	.util2 {
		margin: -8px 0 8px 8px;
	}
	.trustwave {
		margin: 10px 8px;
	}
	#footer .soc-icons {
		border-top: 1px dotted #7d7d7d; 
		padding: 8px;
		margin: 0;
	}
	#footer .botrow p {
		border-top: 1px dotted #7d7d7d; 
		padding: 8px;
		margin: 0;
	}
	#footer .botrow .util2 a {
		display: block;
	}


	/*CONTACT */
	#contact-detail .col1 {
		width: 100%;
		float: none;
		padding: 20px 50px;
	}
	#contact-detail .col2 {
		width: 100%;
		float: none;
		padding: 20px 50px;
	}


	/* DESTINATIONS / COUNTRY */
	#destinations .boxgrid {
		display: none;
	}
	.co-list  {
		padding: 30px 20px 0;
	}
	.co-list .group {
		margin-bottom: 20px;
	}
	.co-list .group a {
		display: none;
	}
	.co-list .group select {
		display: inline-block;
		min-width: 220px;
	}
	.co-list .reg {
		display: block;
	}
	.co-list li {
		width: 100%;
		text-align: left;
		padding: 0px;
	}
	.co-list .typ16 {
		margin-bottom: 8px;
	}


	/* JOURNEYS*/
	#travel .fullbg {
		background: url("images/irongrip.png") 0 0 repeat;
		-webkit-background-size: auto;
		-moz-background-size: auto;
		-o-background-size: auto;
		background-size: auto;
	}
	#travel .content {
		width: 100%;
		float: none;
		text-align: left;
		padding: 30px 0 0;
	}

	/* HOME */
	.container .meet-us .grid-4,
	.container .meet-us .grid-2 {
		width: 48%;
	}

	.meet-us .info {
		float: none;
		width: 100%;
		border: none;
		padding: 10px 0;
		text-align: center;
	}
	.meet-us .team {
		float: none;
		width: 100%;
	}
	.meet-us .thumb {
		float: left;
		width: 14.6%;
		width: calc(73 / 500 * 100% );
		margin: 0 0 2% 2%;
	}
	.meet-us .info .small {
		display: none;
	}
	.meet-us .info h5 {
		padding: 0 0 8px;
		font-size: 1.8em;
	}
	.meet-us .info .text {
		border: none;
		margin: 0;
	}
	.meet-us .float-right {
		float: none;
	}

	.three-col .col {
		width: 100%;
		float: none;
		border: none;
		padding: 0;
		border-bottom: 1px dotted #bcbcbc; 
	}
	.three-col p {
		padding: 10px 5px;	
		margin: 0;
	}
	.three-col .text {
		min-height: 0;
		font-size: 1rem;
	}
	.three-col .btn {
		margin-bottom: 2em;
	}

}


@media only screen and (max-width: 700px) {
	

	.boxes .box {
		width: 49%;
		width: calc(490 / 1000 * 100%);
		margin: 0 2% 40px 0;
	}
	.boxes .box:nth-of-type(3n) {
		margin-right: 2%;
	}
	.boxes .box:nth-of-type(2n) {
		margin-right: 0;
	}
	.page-twocols .col1, .page-twocols .col2 {
		width: 100%;
		float: none;
		margin: 0 0 20px;
	}
	.boxgrid.accolades {
		padding: 0;
	}
	.boxgrid.accolades li {
		width: 33.3333333333333%;
		width: calc(333 / 1000 * 100%);
	}
	.boxgrid.accolades li:nth-of-type(1),
	.boxgrid.accolades li:nth-of-type(2) {
		border-bottom: 1px dotted #bcbcbc; 
	}
	.boxgrid.accolades li:nth-of-type(3) {
		border-right: 1px dotted #bcbcbc; border-bottom: 1px dotted #bcbcbc; 
	}
	.boxgrid li img {
		width: 56%;
	}

	/* HOME */
	#home .interests2 li {
		width: 50%;
	}
	#home .interests2 li:nth-of-type(10) {
		border-bottom: 1px dotted #bcbcbc; 
	}


	/* ABOUT */
	#about .reasons {
		padding: 1em;
	}
	#about .reasons .pad {
		padding: 0;
	}
	#about .reasons .typ2u {
		font-size: 1.2rem;
	}
	.reason-slides .typ13, .reason-slides .p1 {
		font-size: 1rem;
	}

	/* TEAM */
	.agent {
		margin-bottom: 3em;
	}

	/*HOW*/
	.how-list .col {
		width: 100%;
		text-align: center;
	}
	.how-list .col img, .how-list h3 {
		margin-bottom: 20px;
	}
	.how-list .text-right {
		padding: 40px 0 0;
	}
	.how-list .text-left {
		padding: 40px 0;
	} 
	.how-list .num-one, .how-list .num-two, .how-list .num-three, .how-list .num-four {
		background-position: center top;
	}


	/*PHOTO ESSAYS*/
	#photo-essays .photo-slider .image {
		width: 100%;
		float: none;
		margin: 0;
		padding: 7px;
	}
	#photo-essays .photo-slider .image img {
		width: 100%;
		padding: 0 7px;
	}
	#photo-essays .photo-slider .infos {
		width: 100%;
		float: none;
		padding: 10px 120px 3px 15px;
	}
	#photo-essays .face {
		width: 25%;
		float: right;
		display: none;
	}
	#photo-essays .photo-slider .infos img {
		float: none;
		max-width: 100%;
		margin: 0 0 15px;
	}
	#photo-essays .photo-slider .infos .name {
		float: none;
		max-width: 100%;
		margin: 0;
	}


	/*PROPERTIES*/
	.co-name {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	.co-name ul {
		font-size: 1.5833rem; /*19px*/
	}
	.co-name li {
		padding: 8px 0;
	}
	.co-name h1 {
		margin: 4px 0 8px;
	}
	.co-img {
		float: none;
		width: 100%;
		margin: 20px 0;
		display: none;
	}
	.other-props li {
		width: 23.5%;
		margin: 0 2% 2% 0;
	}
	.other-props li:nth-of-type(4n) {
		margin-right: 0;
	}


	/* JOURNEYS*/
	.interests li {
		width: 33.3333333333333333%;
	}
	.interests li:nth-of-type(4n) {
		border-right: 1px dotted #fff; 
	}
	.dark .interests li:nth-of-type(4n) {
		border-color: #777; 
	}
	.interests li:nth-of-type(3n) {
		border-right: none; 
	}


}


@media only screen and (max-width: 620px) {
	
	#home .three-amigos {
		margin-top: -60px;
	}
	#home .explore {
		top: 60px;
	}
	#country .explore {
		display: none;
	}
	.form1 .medium {
		width: 100%;
	}

	.regionmap .group {
		display: none;
	}

	/* CONTACT */
	#contact-short .form2 .col1,
	#contact-short .form2 .col2 {
		float: none;
		width: 100%;
		padding: 20px 30px;
	}





}

@media only screen and (max-width: 480px) {


	/* HOME */
	#home .world {
		margin-bottom: 0;
	}
	#home .tjs {
		padding-bottom: 0;
		border-top: none;
	}
	#home .tjs .grid-2 {
		width: 100%;
		margin: 0;
		padding: 10px;
	}
	#home .tjs .grid-4 {
		width: 100%;
		margin: 0;
	}
	#home .tjs .info {
		text-align: center;
		margin-bottom: 20px;
	}
	#home .tjs .info .text {
		border: none;
		margin: 0;
	}
	#home .tjs .info .float-right {
		float: none;
	}
	#home .interests2 {
		border-top: 1px dotted #bcbcbc; 
	}
	.container .meet-us .grid-4,
	.container .meet-us .grid-2 {
		width: 100%;
		float: none;
	}
	.meet-us .team {
		padding-right: 2%;
	}


	/*PHOTO ESSAYS*/
	#photo-essays .photo-slider-thumbs li {
		width: 25%;
	}

}





@media only screen and (max-width: 479px) {


	.container {
		padding: 0;
	}
	.container .grid-2, .container .grid-4 {
		width: 100%;
		float: none;
		margin: 0 0 20px;
	}
	.content {
		padding: 20px 15px; 
	}
	.content.p1 {
		font-size: 1.3333rem;
	}
	.content.p1 .typ1u {
		font-size: 2rem;
	}
	.cta hr {
		width: 100%;
	}
	.boxes .box, .boxes .box.weirdo {
		width: 100%;
		margin: 0 0 40px 0;
		float: none;
	}
	.boxes .box:nth-of-type(3n) {
		margin-right: 0;
	}
	.boxes .box:nth-of-type(2n) {
		margin-right: 0;
	}
	.page-twocols .split .info {
		float: none;
		width: 100%;
		padding-bottom: 10px;
		margin: 0;
	}
	.page-twocols .split .img {
		float: none;
		width: 100%;
		padding: 15px;
		margin: 0;
		border-right: 1px dotted #BCBCBC; 
		border-left: 1px dotted #BCBCBC; 
	}

	.boxgrid.accolades li {
		width: 50%;
	}
	.boxgrid.accolades li:nth-of-type(2) {
		border-right: 1px dotted #bcbcbc; 
	}
	.boxgrid.accolades li:nth-of-type(3) {
		border-right: none; border-bottom: 1px dotted #bcbcbc; 
	}
	.boxgrid.accolades li:nth-of-type(4) {
		border-right: 1px dotted #bcbcbc; border-bottom: 1px dotted #bcbcbc;
	}


	/* HOME */
	#home .explore {
		position: static;
		text-shadow: none;
	}
	#home .explore a {
		float: none;
		margin: 24px 5% 4px;
		background: transparent url("images/button.png") 0 0 repeat;
		color: #fff;
		padding: 6px 6px 3px;
		display: block;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
		-webkit-box-shadow: 1px 2px 2px 0 rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    1px 2px 2px 0 rgba(50, 50, 50, 0.3);
		box-shadow:         1px 2px 2px 0 rgba(50, 50, 50, 0.3);
	}
	#home .explore span {
		display: inline;
		margin: 0;
		font-size: 1.4em;
	}
	#home .explore span.p5 {
		display: none;
	}
	#home .three-amigos {
		margin-top: 0px;
	}
	#home .three-amigos a {
		padding-bottom: 20px;
		border-bottom: 1px dotted #bcbcbc; 
	}
	#home .just-sayin {
		padding: 0 20px 20px;
	}


	/* ABOUT */
	.reason-slides {
		text-align: left;
	}
	.circ-nav {
		display: none;
	}
	.testimonies .dotted {
		text-align: center;
	}
	.testimonies .float-right, .testimonies .float-left {
		float: none;
	}
	.testimonies .float-right {
		display: inline-block;
		margin: 1em 0;
	}


	/* BLOG */
	.blogpost .share {
		float: none;
		margin-bottom: 1em;
	}
	.comment-form-author, .comment-form-email, .comment-form-url {
		width: 100%;
	}

	/* TEAM */
	.agents .page-twocols .split.col {
		margin: 0;
	}
	.agents .page-twocols .split .info {
		margin-top: 8px;
		height: auto;
	}
	.agents .page-twocols .split .img {
		padding: 2px 15px 0 15px;
	}

	.agent {
		padding-bottom: 8px;
		border-bottom: 1px dotted #BCBCBC; 
	}
	.agent .col2 {
		padding: 20px 15px 7px 15px;
		border-top: none;
		border-right: 1px dotted #BCBCBC; 
		border-left: 1px dotted #BCBCBC; 
	}


	/* COUNTRY */
	#country .media .col1, #country .media .col2 {
		float: none;
		width: 100%;
	}
	#country .media .col1 {
		margin-bottom: 20px;
	}
	#country .media h3 span {
		display: none;
	}


	/* JOURNEYS*/
	.interests li {
		width: 50%;
	}
	.interests li:nth-of-type(3n) {
		border-right: 1px dotted #fff; 
	}
	.dark .interests li:nth-of-type(3n) {
		border-color: #777; 
	}
	.interests li:nth-of-type(2n) {
		border-right: none; 
	}

	
}



@media only screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 479px) and (-o-min-device-pixel-ratio: 3/2), only screen and (max-width: 479px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 479px) and (min-device-pixel-ratio: 1.5) {

}




@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

	body  {
		background-image: url("images/subtlenet2_@2X.png");
			-moz-background-size:60px 60px;
			 -ie-background-size:60px 60px;
			  -o-background-size:60px 60px;
		 -webkit-background-size:60px 60px;
				 background-size:60px 60px;
	}
	.dark  {
		background-image: url("images/irongrip_@2X.png");
			-moz-background-size:300px 301px;
			 -ie-background-size:300px 301px;
			  -o-background-size:300px 301px;
		 -webkit-background-size:300px 301px;
				 background-size:300px 301px;
	}
	.btn {
			-moz-background-size:120px 30px;
			 -ie-background-size:120px 30px;
			  -o-background-size:120px 30px;
		 -webkit-background-size:120px 30px;
				 background-size:120px 30px;
	}
	.btn:hover {
			-moz-background-size:120px 30px;
			 -ie-background-size:120px 30px;
			  -o-background-size:120px 30px;
		 -webkit-background-size:120px 30px;
				 background-size:120px 30px;
	}

	#header .logo {
		background-image: url("images/logo@2x.png");
			-moz-background-size:357px 112px;
			 -ie-background-size:357px 112px;
			  -o-background-size:357px 112px;
		 -webkit-background-size:357px 112px;
				 background-size:357px 112px;
	}


}





@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 3/2), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {

	#header .logo {
		background: url("images/logo-sm@2x.png") center 15px no-repeat;
		-moz-background-size:290px 91px;
		 -ie-background-size:290px 91px;
		  -o-background-size:290px 91px;
	 -webkit-background-size:290px 91px;
			 background-size:290px 91px;
	}
}




@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}